<p class = "NewUsers-title">Welcome new user!</p>
<section class="UsersNew">
  <%= form_with url: users_path do |form| %>
    <div class = "Form-section">
      <p class = "FormInput-lable"> First name: </p>
      <%= form.text_field :first_name, class: "Form-input" %>
    </div>
    <div class = "Form-section">
      <p class = "FormInput-lable"> Last name: </p>
      <%= form.text_field :last_name, class: "Form-input" %>
    </div>
    <div class = "Form-section">
      <p class = "FormInput-lable"> Email: </p>
      <%= form.text_field :email, class: "Form-input" %>
    </div>
    <div class = "Form-section">
      <p class = "FormInput-lable"> Password: </p>
      <%= form.password_field :password, class: "Form-input" %>
    </div>
    <div class = "Form-section">
      <%= submit_tag "Sign-up", class: "Form-submit" %>
    </div>
  <% end %>
</section>

<hr>
<div class = "Form-section">
  <p class = "FormInput-lable">
  If you are a registered user <%= link_to "Sign-in here", new_sessions_path %>
  </p>
</div>
