<main class="TodoPageMain">
  <h1 class="TodoPage-title">My Todo-List</h1>
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <%= text_field_tag 'todo_text', nil, class: 'AddTodo-text',  placeholder: "What's next?", required: true %>
    <%= date_field_tag 'due_date', Date.today.to_s, class: 'AddTodo-date'%>
    <%= submit_tag "Add", class: "AddTodo-button" %>
  <%end%>
  <%= render partial: "todo-section", locals: {
             selction_title: "Overdue",
             todos: Todo.overdue.completed(false),
             show_date: true,
           } %>
  <%= render partial: "todo-section", locals: {
             selction_title: "Due today",
             todos: Todo.due_today,
             show_date: false,
           } %>
  <%= render partial: "todo-section", locals: {
             selction_title: "Due later",
             todos: Todo.due_later,
             show_date: true,
           } %>
</main>
